{:deps
 {org.clojure/clojure         {:mvn/version "1.12.3"}
  org.clojure/clojurescript   {:mvn/version "1.12.42"}
  org.clojure/spec.alpha      {:mvn/version "0.5.238"}
  org.clojure/tools.namespace {:mvn/version "1.5.0"}

  http-kit/http-kit         {:mvn/version "2.8.1"}
  com.cognitect/transit-clj {:mvn/version "1.0.333"}
  com.cognitect/transit-js  {:mvn/version "0.8.874"}

  pjstadig/humane-test-output {:mvn/version "0.11.0"}

  lambdaisland/kaocha        {:mvn/version "1.91.1392"}
  com.lambdaisland/glogi     {:mvn/version "1.3.169"}}

 :paths ["src" "resources" "test/cljs"]

 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha-cucumber  {:mvn/version "0.11.100"}
                lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                nubank/matcher-combinators    {:mvn/version "3.9.2"}
                akvo/fs                       {:mvn/version "20180904-152732.6dad3934"}}}

  :dev
  {:extra-paths []
   :extra-deps  {}}}}
