{:deps
 {org.clojure/clojure         {:mvn/version "1.10.0-alpha5"}
  org.clojure/clojurescript   {:mvn/version "1.10.439"}
  org.clojure/spec.alpha      {:mvn/version "0.2.176"}
  org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}

  http-kit {:mvn/version "2.3.0"}
  com.cognitect/transit-clj {:mvn/version "0.8.313"}
  com.cognitect/transit-js {:mvn/version "0.8.861"}

  lambdaisland/kaocha
  #_{:mvn/version "0.0-266"}
  {:local/root "/home/arne/github/lambdaisland/kaocha"}

  net.ladenthin/streambuffer {:mvn/version "1.1.0"}
  }

 :paths ["src" "resources" "test/cljs"]

 :aliases
 {:test
  {:main-opts  ["-m" "kaocha.runner"]
   :extra-deps {}}

  :dev
  {:extra-paths ["dev" "test/api" "test/shared"]
   :extra-deps  {nubank/matcher-combinators   {:mvn/version "0.4.2"}
                 }}}}
